127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{externalIP}} {{cluster}}i

{% for node in range(numNodes) %}
{% if loop.index == 1 %}
{{mgmtPrefix}}{{loop.index}} e{{cluster}}i e{{cluster}}1 e1 {% else %}
{{mgmtPrefix}}{{loop.index}} e{{cluster}}{{loop.index}} e{{loop.index}}{% endif %} 
{% endfor %}

{% for node in range(numNodes) %}
{% if loop.index == 1 %}
{{ipmiPrefix}}{{loop.index}} p{{cluster}}i p{{cluster}}1 p1 {% else %}

{{ipmiPrefix}}{{loop.index}} p{{cluster}}{{loop.index}} p{{loop.index}}{% endif %}
{% endfor %}


#infiniband network
{% for node in range(numNodes) %}
{% if loop.index == 1 %}
{{ibPrefix}}{{loop.index}} {{cluster}}1 h1 {% else %}

{{ibPrefix}}{{loop.index}} {{cluster}}{{loop.index}} h{{loop.index}}{% endif %}
{% endfor %}


#For use by VMs
192.168.95.51 nvm1
192.168.95.52 nvm2
192.168.95.53 nvm3
192.168.95.54 nvm4
192.168.95.55 nvm5    
