<!-- rabbit gif in cited sources in README -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Main Project</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=BioRhyme&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="loading">
            <h2>Loading...</h2>
            <img src="../static/rabbit.gif" alt="Loading GIF">
        </div>
        <script>
            setTimeout(function () {
                window.location.href = '/answer';
            }, 1000);
        </script>
  
    </body>
</html>
